/* main css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

/* React */
#root {
  height: 100vh;
}

/* Layout */
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.fluid-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.eli-h-100 {
  min-height: 100%;
}

.eli-py-4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-neg-4 {
  margin-top: -100px;
}

.app .full-height {
  height: 80vh;
}

/* logo */
.logo {
  font-family: "Qwigley";
  text-decoration: none;
}

.dark .logo {
  color: #dbd8d3;
}

/* Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.topbar .btn-round {
  width: 2rem;
  height: 2rem;
}

.dark .topbar {
  background-color: #202124;
  box-shadow: inset 0px -1px 0px #4b5154;
}

.topbar .logo {
  font-size: 2rem;
  font-weight: 600;
}

/* Tabbar */
.dark .tabbar {
  background-color: #202124;
}

.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tab-navitem {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 160px;
  padding: 0.25rem 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  margin: 0 1px;
}

.dark .tab-navitem {
  color: #dbd8d3;
  background-color: rgba(78, 84, 87, 0.16);
}

.dark .tab-navitem:hover,
.dark .tab-navitem:active,
.dark .tab-navitem.active {
  color: #dbd8d3;
  background-color: #1a1c1d;
  border: none;
}

.tabbar .tab-menu {
  height: 2rem;
  padding: 0rem 2rem;
}

.tabbar .tab-control {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
}

/* buttons */
.btn {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  vertical-align: middle;
  background-color: inherit;
}

.btn:hover,
.btn:active,
.active {
  background-color: rgba(78, 84, 87, 0.16);
}

.btn-round {
  border-radius: 50%;
  padding: 5px;
}

.btn img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

/* cta */
.cta {
  text-align: center;
}

.cta .logo {
  font-size: 4rem;
  font-weight: 600;
}

.cta .btn {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
}

.dark .cta .btn {
  color: #dbd8d3;
  background-color: #202124;
}

.dark .cta .btn:hover {
  background-color: #4b5154;
}

.cta p {
  font-size: 1.05rem;
}

/* Page banner */
.page-banner {
  margin-bottom: 2rem;
}

.page-heading .subtitle {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.page-heading .btn {
  margin-right: 1.5rem;
}

.page-banner .btn-round {
  height: 2.5rem;
  width: 2.5rem;
}

/* card */
.card {
  background-color: inherit;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 0.5px solid #4b5154;
  border-radius: 0.5rem;
  color: inherit;
}

.card .card-header {
  background-color: inherit;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card .card-body {
  padding: 0.5rem;
}

.card-control .btn {
  height: 1.25rem;
  width: 1.25rem;
  padding: 0.05rem;
  margin: 0 0.15rem;
}

/* lists */
.list-with-images .list-item img {
  margin-right: 1rem;
}

.list-item {
  margin-bottom: 0.5rem;
}

/* forms */
.editable-text {
  outline: 0px solid transparent;
  width: 100%;
  background-color: inherit;
  color: inherit;
  border: none;
}

.eli-form-control-group {
  margin-bottom: 1rem;
}

.eli-form-control {
  width: 50%;
}

.sole-control,
.main-control,
.minor-control {
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #dbd8d3;
  outline: 0px solid transparent;
}

.dark .form-btn {
  color: #dbd8d3;
  background-color: #202124;
}

.dark .form-btn:hover {
  background-color: #4b5154;
}

.dark select.main-control option,
.dark select.minor-control option,
.dark select.sole-control option {
  background-color: #1a1c1d;
  color: #dbd8d3;
  padding-bottom: 0.25rem;
}

.eli-form-control
  input[class="sole-control"]:not([type~="radio"]):not([type~="checkbox"]),
.eli-form-control select.sole-control,
.eli-form-control textarea.sole-control {
  width: 100%;
}

.eli-form-control .main-control {
  width: 90%;
}

.eli-form-control .minor-control {
  width: 10%;
  text-align: end;
  border-bottom: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 1px 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input:invalid,
textarea:invalid {
  border: 1px solid rgb(204, 66, 66);
}

input:focus:invalid,
textarea:focus:invalid {
  border: none;
  border-bottom: 1px solid #dbd8d3;
}

.form-error {
  font-size: 0.75rem;
  color: rgb(204, 66, 66);
}

/* visualizations */
.visual {
  margin-top: 1.5rem;
}

.visual .card-header h5 {
  text-transform: uppercase;
  font-size: 0.83em;
  font-weight: normal;
}

.visual .card {
  margin-top: 0.25rem;
}

/* Dark theme */
.app.dark {
  background-color: #1a1c1d;
  color: #dbd8d3;
}
